$link-hover-color: #83a9e9;
$text-second-color: #ff0000;
$text-light-color: #ea3939;
$input-hover-color: #b92424;
$input-focus-color: #1a2a27;
$input-border-color: #1a2a27;
$input-background-color: #3c524e;
$border-main-color: #ffffff;
$background-dark-color: #1a2a27;
$background-main-color: #415A56;
$background-mobile-menu: #2b3b38;
$pagintaion-page-color: #88978d;
$pagintaion-hover-hover: #67786d;
$input-range-color: #ffffff;
$list-item-border-bottom: #98afa6;
$footer-text-color: #566c68;
$footer-link-hover-color: #85a59f;
$about-project-background-color: #374f4b;
